population_register_catalonia_2020.Rdata
data
SESSION_3_BSSD-20260722T081148Z-1-001.zip
DATA_SPAIN.Rdata
spain_provinces.Rda
airbnb_data_bcn_2022.cpg
airbnb_data_bcn_2022.dbf
airbnb_data_bcn_2022.prj
airbnb_data_bcn_2022.qmd
airbnb_data_bcn_2022.shp
airbnb_data_bcn_2022.shx
